.sidebar {
  display: flex;
  position: fixed;
  min-width: 106px;
  width: 5.8vw;
  height: 94vh;
  color: #22292d;
  transform: rotate(180deg);
  overflow: hidden;
}

.outside {
  width: 5.8vw;
  min-width: 106px;
  overflow: hidden;
}

@media screen and (max-width: 880px) {
  .text {
    font-size: calc(4rem + 1.5vh);
    line-height: 80px;
  }
  .sidebar {
    min-width: 90px;
  }
  .outside {
    display: none;
    min-width: 90px;
  }
}
