h1 {
  margin-bottom: 8px;
}
h4 {
  margin-top: 4px;
}

.inlineBlock {
  display: inline-block;
}

.body {
  width: 40vw;
}

.body > img {
  display: block;
}
.content {
  margin-bottom: 2rem;
}

@media screen and (max-width: 880px) {
  .body {
    width: 100%;
  }
  .content {
    margin-bottom: 6rem;
  }
  .headline {
    text-align: center;
    margin-bottom: 1rem;
  }
}
