h1 {
  margin-bottom: 8px;
}
h4 {
  margin-top: 4px;
}

.inlineBlock {
  display: inline-block;
}

.body {
  width: 40vw;
}

.body > img {
  /*margin: auto;*/
  display: block;
}
.content {
  margin-bottom: 2rem;
}
