
.color-orange {
    color: #ffb105;
}

.color-red {
    color: rgb(252, 82, 72)
}


.home {
    display: flex;
    justify-content: space-around;
    background-image: url('/images/dot.jpg');
    background-repeat: round;
}

.home:after {

    background-color: gray;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 95vh;
    width: 35%; /*necessity? */
    background-color: aliceblue;
    padding: 1% 2%;
    margin: 0 2%;
}

.profile-head {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;


}

.profile-head a {
    text-decoration: none;
    color: inherit;

}


.profile-links {
    margin: 0 0.05rem;
}

.profile-links:hover {
    transform: scale(1.2);
}

.profile-title:hover {
    transform: scale(1.02);
}

.profile-image {
    background-clip: content-box;
    border: 3px solid #f1f1f1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-bottom: 2%;
}

.profile-bio {
    font-size: calc(14px + 0.2vw);

}

.profile-form {
    border: 2px dashed black;
    padding: 1.6vw;
}

.logo {
    position: absolute;
    left: 30%;
    transform: translateX(-30%);

}

img.logo {
    max-height: 100px;
}

img.icon {
    max-height: 28px;
    margin-top: 2px; /*aligning image icons and svg icons  */


}

img.icon-md {
    max-height: 40px;
    margin-top: 2px; /*aligning image icons and svg icons  */


}

.aws-links {
    flex-shrink: 1;
    flex-wrap: wrap;

}

.videos {
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 0.2vw);

}

/*style videos buttons */
.videos-buttons {
    border: 0;
    margin-top: 1%;
}

.videos-button {
    cursor: pointer;
    font-size: 1.05rem;
    padding: 1rem 2rem;
    color: ghostwhite;
    background-color: rgb(252, 82, 72);
    border: 0;
}

.videos-button:hover {
    background-color: ghostwhite;
    color: rgb(252, 82, 72);
}

.github {
    flex-wrap: wrap;
    flex-grow: 1;

}

/*spacing children of flexbox container */
.github > p {
    margin-right: 0.6rem;

}

.profile-emoji {

    font-size: 1.5rem;
    cursor: pointer;

}

.profile-cv {
    align-self: center;
    margin: auto;
    cursor: pointer;
}

.profile-cv:hover {
    color: dimgray;
    transform: scale(1.05) translateX(2%);
}

.blue-square {
    margin-top: 0.4rem;
    margin-right: 0.4rem;
    display: inline-block;
    padding: 0.2rem;
    border: 1px solid dodgerblue;
    text-decoration: none;

}

.blue-square:hover {
    background-color: dodgerblue;
    color: white;

}

.entertainment {
    background-color: #F8F0FF;
    padding: 1%;
    width: 50vw;
}

.home-input-field {
    padding: 0;
    border: none;
    border-bottom: solid 2px orangered;
    font-family: inherit;
    font-size: 1rem;
    text-align: center;
    flex-basis: 0%;
    background-color: inherit;
}

/* Form */
.home-input-field.textarea {
    border: solid 2px orangered;
    background-color: #fff;
}

.home-input-field:focus {
    outline: none;
}

label {
    display: inline-block;
    width: 110px;
}

.article {
    margin: 3% auto;
    flex-wrap: nowrap;

}

.youtube-iframe {
    width: 40vw;
    height: 40vh;
    margin: 0 auto;

}

.fa-arrow {
    height: calc(20px + 0.2vw);

}

@media (max-width: 930px) {

    .home {
        flex-direction: column;
        align-content: center;
    }

    .profile {

        margin: 0 auto;
        width: 90vw;
        height: 100%;
    }

    .entertainment {
        width: 100vw;
        margin: 10px auto;
    }

    .youtube-iframe {
        width: 90vw;
        height: 30vh;

    }
    .profile-form{
        padding: 4% 0;
        flex-direction: row;
        border-right: none;
        border-left:none;
    }
    .videos h2{
    margin: 1rem 10px;
    }

}