.main {
  display: flex;
  height: 94vh;
  width: 88vw;
  overflow: hidden;

  flex-wrap: wrap;
}

.line {
  position: absolute;
  width: 90vw;
  height: 1rem;
  margin-top: 1rem;
  background: #fff;
  z-index: 10;
}

@media screen and (max-width: 880px) {
  .main {
    justify-content: center;
    width: 100%;
  }
  .line {
    width: 100%;
  }
}
