.bot-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5EA5D6;
    padding: 1%;
    height: 17vh;
    overflow-y: hidden;
}

.bot-quote {
    font-size: 1.15rem;
    font-weight: bold;
    font-family: 'Lacquer', sans-serif;
    margin: 0;
}

.bot-author {
    position: absolute;
    right: 0;
    top: 12vh;
    margin-right: 16%;
    margin-top: 0;
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Shadows Into Light', cursive;
    align-self: flex-end;
}

.bot-quote > span {
    font-size: 1.5rem;
    font-family: 'Knewave', cursive;
    margin: 0 0.5rem;
}

.bot-footer {
    background-color: #e0471b;
    color: white;
    display: flex;
    justify-content: space-around;
    /*align-items: center;*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; /* why is width necessary here? */
    height: 20%;
    border-top: #e0471b solid 3px;

}

.bot-footer a {
    text-decoration: none;
    color: inherit;

}

.bot-footer a:hover {
    color: #CFB35C;
    transform: scale(1.2);
}

.countdown-line {
    width: 500px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.bot-refresh {
    position: absolute;
    top: 16vh;
    padding: 0;
    background-color: transparent;
    border:0;
    color: white;
    cursor: pointer;
    font-size: 25px;
}
.bot-refresh:hover{
    transform: scale(1.4);

}
.bot-footer hr {
    margin: auto;
    border: 1px solid white;
    height: 40%;
}
.bot-question {

    margin-top: 1rem;
}