.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  align-items: center;
  line-height: 32px;
}

@media screen and (max-width: 880px) {
  .container {
    line-height: 1.8;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
    flex-wrap: nowrap;
  }
}
