.bot-header {
    display: flex;
    flex-direction: column;
    /*background-color: #5EA5D6;*/
    padding: 1% 2%;

}

.bot-quote {
    /*font-size: 1.6rem;*/
    font-size: calc(16px + 0.5vw);
    font-weight: bold;
    font-family: 'Lacquer', sans-serif;
    margin: 1rem 0;
}

.bot-author {
    margin-top: 0;
    margin-right: 3vw;
    font-family: 'Shadows Into Light', cursive;
    align-self: center;
    /*font-size: 1.3rem;*/
    font-size: calc(14px + 1vw);


}
.bot-main{
    width: 90vw;
    margin: 0 auto;
}

.bot-quote > span {

    font-family: 'Knewave', cursive;
    margin: 0 0.5rem;
}

.countdown-line {
    width: 500px;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    overflow: hidden;
}
.bot-footer {
    background-color: #59e01b;;
    color: white;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: calc(7px + 1vw);
    height: calc(40px + 4vmax);

}

.bot-footer a {
    text-decoration: none;
    color: inherit;

}

.bot-refresh {
    position: absolute;
    left: 50%;
    padding: 0;
    background-color: transparent;
    border: 0;
    /*color: white;*/
    cursor: pointer;
    font-size: 25px;
}

.bot-footer a:hover {
    color: #282c34bf;
    transform: scale(1.3);
}

.bot-refresh:hover {
    transform: scale(1.4);

}

.bot-footer hr {
    align-self: center;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin: 0 3%;
    border: 1px solid white;
    height: 20%;
}

.bot-question {
    display: flex;
    align-self: center;
    margin-top: 1rem;
    font-size: calc(14px + 1vw);
}
.bot-question h1{
    font-size: inherit;
}

.bot-footer > div {
    max-width: 45%;
    cursor: pointer;

}

.bot-face {
    font-size: calc(40px + 0.5vw);
    margin: 0 0.2rem;

}

.bot-seconds{

    align-self: center;
}

.bot-timer {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 100%;
    overflow: hidden;
}

.clear-screen:hover {
    transform: translateX(5%) scale(1.1);
}

.smile-emoji {
    font-size: 3rem;
}