.icon {
  margin: 16px 8px;
}
.icon:hover {
  transform: scale(1.2);
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: #22292d;
  border-radius: 14px 0 0 14px;
}

@media screen and (max-width: 880px) {
  .icons {
    flex-flow: row;
    background: #fff;
  }
}
