.blog {
  align-items: flex-start;
  width: 50%;
}
.blog h1 {
  margin-bottom: 0;
  font-size: 32px;
  line-height: 40px;
}
.blog h1:nth-child(n + 2) {
  font-size: 20px;
}
.blog h1 + h3 {
  color: #6b6b6b;
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: normal;
}
.blog h1 + h3 + p {
  margin-top: 0;
  margin-bottom: 16px;
}

.blog img + em {
  display: block;
  margin: 0 auto;
  width: fit-content;
  font-size: 88%;
  color: #6b6b6b;
}
.blog h3 {
  margin-bottom: 0;
}
.blog p {
  margin-bottom: 0;
  width: 100%;
}
.blog a {
  color: inherit;
  text-decoration: underline;
}

.blog > p:last-of-type {
  margin-bottom: 2.5rem;
}

.blog img {
  height: auto;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.blog code {
  background-color: #f2f2f2;
  padding: 4px 8px;
}
.blog pre {
  width: 100%;
  overflow-x: scroll;
}
.blog pre code {
  display: inline-block;
  margin: 2rem;
  background-color: inherit;
  padding: 0;
}
.blog blockquote {
  box-shadow: inset 3px 0 0 0 #242424;
  padding-left: 20px;
}
.blog iframe {
  width: 100%;
  height: 400px;
}
.blog ol {
  width: 100%;
}
@media screen and (max-width: 880px) {
  .blog {
    width: 100%;
  }
  .blog img {
    width: 100%;
  }
}
