.c-button {
    font-size: calc(8px + 1vw);
    font-weight: bold;
    margin: 0.2rem 0.5rem;
    padding: 2%;
    border: 0;
    background-color: #ff4f4f;
    color: #0000009e;
    cursor: pointer;
    flex: 1;
}

.c-button:hover {
    background-color: #64e020;
    color: white;

}