.tag {
  margin: 4px 8px;
  font-family: 'Open Sans', serif;
  background: #292c34;
  border-color: transparent;
  padding: 5px 10px;
  overflow: hidden;
  border-radius: 6px;
}
.text {
  display: inline-block;
  text-transform: lowercase;
  margin: auto;
  width: fit-content;
  height: fit-content;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}
