.card {
  display: flex;
  margin: 2rem;
}

.card > img {
  width: 189px;
  height: 171px;
  background: #22292d;
}

.tag {
  height: 30%;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 0 2.5rem;
}

.content {
  font-size: 18px;
  height: 60%;
  width: 84%;
}

.actions {
  display: flex;
  height: 30%;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .body {
    justify-content: center;
    margin: 2.5rem 0;
    align-items: center;
  }
  .content {
    margin: 2.5rem 0;
  }
  .card {
    justify-content: center;
    flex-wrap: wrap;
  }
  .tag {
    height: 100%;
  }
  .card > img {
    justify-content: center;
    width: auto;
    background: #22292d;
  }
}
