
.color-orange {
    color: #ffb105;
}

.color-red {
    color: rgb(252, 82, 72)
}



.home {
    display: flex;
    margin: 2%;

    /*justify-content: space-around;*/

}

.profile-head {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;


}

.profile-head a {
    text-decoration: none;
    color: inherit;

}


.profile-links {
    margin: 0 0.05rem;
}

.profile-links:hover {
    transform: scale(1.2);
}

.profile-title:hover {
    transform: scale(1.02);
    /*font-size: 18px;*/
}

.profile-image {
    background-clip: content-box;
    border: 3px solid #f1f1f1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;


    position: relative;

}

.profile-bio {
    width: 22rem;

}

.logo {
    position: absolute;
    left: 30%;
    transform: translateX(-30%);

}

img.logo {
    max-height: 100px;
}

img.icon {
    max-height: 28px;
    margin-top: 2px; /*aligning image icons and svg icons  */


}

.videos {
    display: flex;
    flex-direction: column;

}

/*style videos buttons */
.videos-buttons {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;


}

.videos-button {
    cursor: pointer;
    font-size: 1.05rem;
    padding: 1rem 2rem;
    color: ghostwhite;
    background-color: rgb(252, 82, 72);
}

.videos-button:hover {
    background-color: ghostwhite;
    color: rgb(252, 82, 72);
}

.github {
    flex-wrap: wrap;
    flex-grow: 1;

}

/*spacing children of flexbox container */
.github > p {
    margin-right: 0.6rem;

}