.navBar {
  cursor: pointer;
  position: absolute;
  right: 0;
  height: 94vh;
  width: 50px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px 0 0 14px;
  position: absolute;
  right: 0%;
  top: 40%;
  width: 30px;
  height: 50px;
  background-color: #22292d;
  font-size: 22px;
  cursor: pointer;
  color: #fff;
  z-index: 1000;
}
.arrow:hover {
  /*transform: scale(1.032) translate(-2px);*/
}

.animateClose {
  transition: 1s;
  transform: translate(50px, 0);
  overflow: hidden;
}
.animateOpen {
  height: 300px;
  transform: translateY(-80px);
  background-color: #22292d;
  transition: 1s;
}

.icon {
  margin: 16px 8px;
}

.icon:hover {
  transform: scale(1.2);
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: #22292d;
  border-radius: 14px 0 0 14px;
}

@media screen and (max-width: 880px) {
  .navBar {
    top: 0;
    left: 0;
    width: calc(94px + 2vw);
    justify-content: unset;
    align-items: flex-start;
  }
  .icons {
    width: 84%;
    height: 62%;
    border-radius: 0 14px 14px 0;
  }
  .animateClose {
    transform: translate(-60px, 0);
  }
  .arrow {
    right: auto;
    left: 0;
    top: 0;
    width: calc(80px + 2vw);
    height: 60px;
    border-radius: 0 14px 14px 0;
  }
  .lt,
  .gt {
    transform: rotate(180deg);
  }
}
